

#natujenge-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#natujenge-image{
    display: flex;
}

#natujenge-image img{
    height: 50px;
    width: 40px;
}

#content{
    margin-bottom: 10px;
}
#gross-salary{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
#add-button{
    background-color: white;
    margin-left: 5px;
}
#Netpay{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    align-items: center;
}

#Netpay input{
    border: 1px solid green;
    outline: none;
    margin-top: -10px;
    float: right;
    border-radius: 5px;
}

#links ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tab-content{
    align-items: center;
    display: grid;
    justify-content: center;
}

#tax-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#bill-manager-link{
    float: right;
}
footer{
    justify-content: center;
    text-align: center;
}




.form-salary{
    display: flex;
    align-items: center;
  }

  .form-bills{
    margin: 5px 5px;

  }

  #netpay2{
    display: flex;
    justify-content: space-between;
  }
  label{
    float: left;
    text-align: left;
    margin-right: 75px;
    width: 150px;
  }
  
  #shillings{
    margin: 10px auto;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #rent, #entertainment, #food, #shopping{
    /* background-color: grey; */
    margin: 5px 5px;
    border-block-end: 2px double grey;
    /* color: rgb(42, 96, 143); */
    /* border-block: 5px hidden grey; */
    writing-mode: horizontal-tb;
    /* border-block-width: thin; */
    border-block-style:aliceblue;
    /* border: 2px hidden gray; */
    /* box-shadow: inset; */
  }
  #otherbills{
    /* margin-right: 25px; */
    margin: 25px 44px;
    border-block-end: 2px double grey;
    border-block-style:aliceblue;
    background: #ffff;
  }

  #new-bills{
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  #add-new-bills {
    float: right;
    margin-top: 10px;
    padding-top: 5px;
    
  }

  #balance{
    clear: both;
    display: flex;
    justify-content: space-between;
  }